/*body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    color: whitesmoke;
    background-color: black;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #181414;
    border-radius: 4px;
    outline: none;
}

button {
    background-color: #041a28;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0d8bf0;
}


.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.color{
    color: white;
}

input{
    background-color: #181414;
    color: antiquewhite;
    border: 5px solid rgb(3, 3, 21);
    border-radius: 20px;
}

*/


body{  
    background-color: #000000;
    color:#e7e9ea;
    scroll-behavior: unset;
    font-family: 'Courier New', Courier, monospace;
}
.main-container{
    display: flex;
    background-color: #000000;
    height: 880px;
    justify-content: center;
    align-items: center;
  
}
.container {
    display: flex;
    flex-direction: column;
    background-color:#000000;
    height: 773px;
    width: 588px;
    gap: 10px;
    
}
.logo-child{
  
    background-color: #000000;
    padding: 30px 0px 5px 20px;
    height: 57px;
    width: 568px;
}
.head-child{
   
    background-color: rgb(2, 4, 4);
    padding: 5px 0px 10px 20px;
    height: 100px;
    width: 568px;
}
.head2-child{
    text-align: center;
}
.google-btn{
    padding: 20px 0px 0px ;
    align-self: center;
}
.apple-btn{
    align-self: center;
    padding: 10px 0px 0px ;
}
.create-btn{
    
    align-self: center;
    padding: 0px 0px 0px ;

}
button{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    color: black;
    padding: 20px 80px;
    border-radius: 30px;
    border: #000000 solid ;
}
button:hover{
    background-color: aqua;
    padding: 30px 90px;
    animation: 5ms;
}
.or{
    align-self: center;
    padding: auto;
}
h2{
    text-align: end;
}

@media screen and (max-width: 700px){
    .logo-child{
        text-align: center;
    }
    .head-child{
        text-align: center;
    }
    h2{
        text-align: center;
    }
}



